<!DOCTYPE html>

<head>
    <title>Qifex: 404</title>
    <link href="/assets/img/favicon.png" rel="shortcut icon" type="image/png">
    <link href="/assets/style.css" rel="stylesheet" type="text/css">

</head>

<body class=error>
    <h1 class='error'>404: The page does not exist</h1>






</body>

</html>