<!DOCTYPE html>

<head>
    <title>Qifex</title>
    <link href="./img/favicon.png" rel="shortcut icon" type="image/png">
    <link href="./style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <%- include ('partials/header.ejs')%>

    <main>
        <h1>Welcome Contact</h1>
    </main>

    <form id='contact-form' method='POST' action='/contact'>
        <label for='name'>Please provide your name</label>
        <input type='text' name='firstName' required /><br />

        <label for='product'>What you are interested in</label>
        <input type='text' name='Product' required /><br />

        <label for='email'>Your Email</label>
        <input type='email' name='email' required /><br />

        <label for='comments'>Additional comments</label>
        <input type='text' name='comments' /><br />
        <input type='submit' value='Submit' />
    </form>




    <%- include ('partials/footer.ejs')%>

</body>

</html>