<!DOCTYPE html>

<head>
    <title>Qifex</title>
    <link href="./img/favicon.png" rel="shortcut icon" type="image/png">
    <link href="./style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <%- include ('partials/header.ejs')%>

    <main>
        <div class='headSectionProd'>
            <h1>We Have Amazing Products</h1>
        </div>

        <section class='ourProducts'>
            <h1> Here is how you can succeed with us</h1>
            <div>
                <figure>
                    <img src='./img/product/img1.jpg' alt='UX/UI'>
                    <figcaption>UX / UI</figcaption>
                </figure>

                <figure>
                    <img src='./img/product/img2.jpg' alt='Web Development'>
                    <figcaption>Web Development</figcaption>
                </figure>

                <figure>
                    <img src='./img/product/img3.jpg' alt='SMM'>
                    <figcaption>SMM</figcaption>
                </figure>
            </div>

            <div>
                <figure>
                    <img src='./img/product/img4.jpg' alt='SEO'>
                    <figcaption>SEO</figcaption>
                </figure>

                <figure>
                    <img src='./img/product/img5.jpg' alt='Data Analytics'>
                    <figcaption>Data Analytics</figcaption>
                </figure>

                <figure>
                    <img src='./img/product/img6.jpg' alt='Product 1'>
                    <figcaption>Our product 6</figcaption>
                </figure>
            </div>
        </section>

    </main>

    <%- include ('partials/footer.ejs')%>

</body>

</html>