<!DOCTYPE html>

<head>
    <title>Qifex: 404</title>
    <link href="./img/favicon.png" rel="shortcut icon" type="image/png">
    <link href="./style.css" rel="stylesheet" type="text/css">

</head>

<body class=error>

    <h1 class='error'>Dear <%=data.firstName%> we have received you message</h1>
    <p>We will contact you by email <%=data.email%></p>

</body>

</html>